src/main/resources/config.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="executable" type="executableType"/>
  <xs:complexType name="logsType">
    <xs:sequence>
      <xs:element type="xs:string" name="log" maxOccurs="1" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="argumentsType">
    <xs:sequence>
      <xs:element type="argumentType" name="argument" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="optionsType">
    <xs:sequence>
      <xs:element type="optionType" name="option" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="argumentType">
    <xs:sequence>
      <xs:element type="xs:string" name="name" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="executableType">
    <xs:sequence>
      <xs:element type="xs:string" name="path" minOccurs="1" maxOccurs="1"/>
        <xs:element type="xs:string" name="description" minOccurs="0" maxOccurs="1"/>

      <xs:element type="optionsType" name="options" minOccurs="0" maxOccurs="1" />
      <xs:element type="argumentsType" name="arguments" minOccurs="0" maxOccurs="1"/>
      <xs:element type="logsType" name="logs" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="optionType">
    <xs:sequence>
      <xs:element type="xs:string" name="name"/>
      <xs:element type="xs:string" name="required"/>
      <xs:element type="xs:string" name="description"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>